node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/.svelte-kit.bak.*
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results
# Paraglide
src/lib/paraglide
project.inlang/cache/
